<h1><%= @user.email %></h1>
</br>
<h2>User Posts</h2>
<% @user_messages.each do |message| %>
    <h2><%=link_to message.title, message_path(message) %></h2>
        <p class="message-posted-by">Posted <%= time_ago_in_words(message.created_at) %> ago by <%= User.find(message.user_id).email %> in <%= link_to Category.find(message.category_id).name, category_path(message.category_id) %> </p>
            <div class="post-nav">
                <a href="#">Share</a>
                <a href="#">Save</a>
                <a href="#">Report</a>
            </div>
<% end %>
